<h1>Weather forecast for {{ city }}</h1>
<form>
  City:
  <input
    type="text"
    [(ngModel)]="toSearch"
    [ngModelOptions]="{ standalone: true }"
  />
  <button (click)="getWeatherForecast()">Forecast</button>
</form>

<ng-container *ngIf="summary; else isSearching">
  <h3>
    Forecast:
  </h3>
  <span> {{ summary }}</span>
  <p *ngIf="todaysForecast">Current Temp: {{ todaysForecast.temperature }}</p>
  <p *ngIf="todaysForecast">
    Feels Like: {{ todaysForecast.apparentTemperature }}
  </p>
</ng-container>

<div class="weather-scroll" *ngIf="summary">
  <div class="weather-card" *ngFor="let forecast of forecasts">
    <div *ngIf="isToday(forecast.time); else TodayBlock">
      <mat-card class="todays-forecast">
        <mat-card-header>
          <h3>
            Today
          </h3>
          <i
            [class]="weatherIcon(forecast.icon)"
            title="{{ forecast.icon }}"
          ></i>
        </mat-card-header>
        <mat-card-content>
          <p>Low: {{ forecast.temperatureLow }}</p>
          <p>High: {{ forecast.temperatureHigh }}</p>
          <p>Summary: {{ forecast.summary }}</p>
        </mat-card-content>
      </mat-card>
    </div>
    <ng-template #TodayBlock>
      <mat-card class="weather-card">
        <mat-card-header>
          <h3>{{ getDay(forecast.time) }}</h3>
          <i
            [class]="weatherIcon(forecast.icon)"
            title="{{ forecast.icon }}"
          ></i>
        </mat-card-header>
        <mat-card-content>
          <p>Low: {{ forecast.temperatureLow }}</p>
          <p>High: {{ forecast.temperatureHigh }}</p>
          <p>Summary: {{ forecast.summary }}</p>
        </mat-card-content>
      </mat-card>
    </ng-template>
  </div>
</div>

<ng-template #isSearching>
  <div style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
  </div>
</ng-template>
