<div *ngIf="authService.user | async as user; else showLogin">
  <h1>Hello {{ user.displayName }}!</h1>
  <button (click)="logout()">Logout</button>
</div>
<ng-template #showLogin>
  <p>Login</p>
  <form>
    <input
      type="text"
      placeholder="Email"
      required
      autofocus
      [(ngModel)]="email"
      [ngModelOptions]="{ standalone: true }"
    />
    <input
      type="password"
      placeholder="Password"
      required
      [(ngModel)]="password"
      [ngModelOptions]="{ standalone: true }"
    />
    <button (click)="login()">Login</button>
  </form>
</ng-template>
<div *ngIf="errorMessage" class="error-message" style="color: red">
  {{ errorMessage }}
</div>
