.game_row {
    background-color: rgb(207, 211, 211);
    width: 10000fr;
}

.data_cell {
    align-content: center;
    vertical-align: middle;
}

.class_table {
    vertical-align: top;
}

.home_team_data {
    vertical-align: top;
}

.data_rows {

    background-color: rgb(207, 211, 211);
    vertical-align: top;
}
.inner-table {
    border: 1px;
    border: 1px solid black;
    border-block-color: black;
    vertical-align: top;
}