.game_row {
    background-color: rgb(207, 211, 211);
    min-width: 1000px;
}

.data_cell {
    align-content: center;
    vertical-align: middle;
}

.class_table {
    vertical-align: top;
}

.main_box {
    display: grid;
    row-gap: 10px;
    grid-template-columns: auto auto;
}

.home_team {
    text-align: left; 
}

.away_team {
    text-align: right;
}

.main-game-box {
    border: 1px solid black;
    background: rgb(201, 196, 196);
    width: 740px;
    height: 25px;
    grid-column-end: 2;
    grid-column-start: 1;
    display: grid;
    grid-template-columns: auto auto;
}
.game-data-box {

    grid-column-end: 2;
    grid-column-start: 1;
}


.home_team_data {
    vertical-align: top;
}

.data_rows {

    background-color: rgb(207, 211, 211);
    vertical-align: top;
    
}
.main_table {
    table-layout: fixed;
    
}

.data_rows > td {
    width: 100%;
}
.inner-table {
    border: 1px;
    border: 1px solid black;
    vertical-align: top;
}