
<h1>College Football Database!</h1>
<h3>A detailed set of game and player statistics from 2005-2012.</h3>
<h4>Please Select a Team: {{ team }} </h4>
<select (change)="selectedTeam($event.target.value)" ng-model="team">
    <option *ngFor="let team of teams">
        <span>{{team}}</span>
    </option>
</select> 
<select (change)="selectedYear($event.target.value)" ng-model="year">
    <option *ngFor="let year of years">
        <span>{{ year }}</span>
    </option>
</select>
<button (click)="getTeamsGames()">Get Game Data</button>
<div class="main_box" *ngIf="received_data; else noData">
    <ng-container *ngFor="let row of gameData; let i=index">
        <div class="main-game-box" (click)="row.expanded = !row.expanded">
            <div class="home_team">
                {{row.home_team}}
            </div>
            <div class="away_team">
                {{row.away_team}}
            </div>
        </div>
        <div class="game-data-box" *ngIf ="row.expanded">
            <table class="main_table">
                <tr class="passing">
                    <td>
                        <table class="inner-table">
                            <thead>{{row.home_team}} Passing</thead>
                            <tr>
                                <td><strong>name</strong></td>
                                <td>cmp/att</td>
                                <td>yrds</td>
                                <td>tds</td>
                            </tr>
                            <ng-container *ngFor="let player of gameData[i].gameLeaders.home_team.passing">
                                <tr class="data_rows">
                                    <td>{{player.first_name}} {{player.last_name}} -- {{player.position}}</td>
                                    <td>{{player.pass_comp}}/{{player.pass_att}}</td>
                                    <td>{{player.pass_yard}}</td>
                                    <td>{{player.pass_td}}</td>
                                </tr>
                            </ng-container>
                                <tr class="data_rows">
                                    <td><b>Team</b></td>
                                    <td><b>{{row.home_pass_comp}}/{{row.home_pass_att}}</b></td>
                                    <td><b>{{row.home_pass_yards}}</b></td>
                                    <td><b>{{row.home_pass_td}}</b></td>
                                </tr>
                        </table>
                    </td>
                    <td>
                        <table class="inner-table">
                            <thead>{{row.away_team}} Passing</thead>
                            <tr>
                                <td><strong>name</strong></td>
                                <td>cmp/att</td>
                                <td>yrds</td>
                                <td>tds</td>
                            </tr>
                            <ng-container *ngFor="let player of gameData[i].gameLeaders.away_team.passing">
                                <tr class="data_rows">
                                    <td>{{player.first_name}} {{player.last_name}} -- {{player.position}}</td>
                                    <td>{{player.pass_comp}}/{{player.pass_att}}</td>
                                    <td>{{player.pass_yard}}</td>
                                    <td>{{player.pass_td}}</td>
                                </tr>
                            </ng-container>
                            <tr class="data_rows">
                                <td><b>Team</b></td>   
                                <td><b>{{row.away_pass_comp}}/{{row.away_pass_att}}</b></td>
                                <td><b>{{row.away_pass_yards}}</b></td>
                                <td><b>{{row.away_pass_td}}</b></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                
            </table>
        </div>
    </ng-container>
</div>
<ng-template #noData>
        <p>
            Please select a team and year to get information for.
        </p>
</ng-template>

        









<!--        <ng-container *ngIf="row.expanded">
                <table class="main_table"> 
                    <tr class="home_team_data">
                        <td>
                            <table class="inner-table">
                                <thead>{{row.home_team}} Passing</thead>
                                <tr>
                                    <td><strong>name</strong></td>
                                    <td>cmp/att</td>
                                    <td>yrds</td>
                                    <td>tds</td>
                                </tr>
                                <ng-container *ngFor="let player of gameData[i].gameLeaders.home_team.passing">
                                    <tr class="data_rows">
                                        <td>{{player.first_name}} {{player.last_name}} -- {{player.position}}</td>
                                        <td>{{player.pass_comp}}/{{player.pass_att}}</td>
                                        <td>{{player.pass_yard}}</td>
                                        <td>{{player.pass_td}}</td>
                                    </tr>
                                </ng-container>
                                    <tr class="data_rows">
                                        <td><b>Team</b></td>
                                        <td><b>{{row.home_pass_comp}}/{{row.home_pass_att}}</b></td>
                                        <td><b>{{row.home_pass_yards}}</b></td>
                                        <td><b>{{row.home_pass_td}}</b></td>
                                    </tr>
                            </table>
                        </td>
                        <td>
                            <table class="inner-table">
                                <thead>{{row.away_team}} Passing</thead>
                                <tr>
                                    <td><strong>name</strong></td>
                                    <td>cmp/att</td>
                                    <td>yrds</td>
                                    <td>tds</td>
                                </tr>
                                <ng-container *ngFor="let player of gameData[i].gameLeaders.away_team.passing">
                                    <tr class="data_rows">
                                        <td>{{player.first_name}} {{player.last_name}} -- {{player.position}}</td>
                                        <td>{{player.pass_comp}}/{{player.pass_att}}</td>
                                        <td>{{player.pass_yard}}</td>
                                        <td>{{player.pass_td}}</td>
                                    </tr>
                                </ng-container>
                                <tr class="data_rows">
                                    <td><b>Team</b></td>   
                                    <td><b>{{row.away_pass_comp}}/{{row.away_pass_att}}</b></td>
                                    <td><b>{{row.away_pass_yards}}</b></td>
                                    <td><b>{{row.away_pass_td}}</b></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr class="home_team_data">
                        <td>
                            <table class="inner-table">
                                <thead>{{row.home_team}} Receiving</thead>
                                <tr>
                                    <td>Name</td>
                                    <td>rec</td>
                                    <td>yrds</td>
                                    <td>tds</td> 
                                </tr>
                                <ng-container *ngFor="let player of gameData[i].gameLeaders.home_team.receiving">
                                    <tr class="data_rows">
                                        <td>{{player.first_name}} {{player.last_name}} -- {{player.position}}</td>
                                        <td class="data_cell">{{player.rec}}</td>
                                        <td class="data_cell">{{player.rec_yards}}</td>
                                        <td class="data_cell">{{player.rec_td}}</td>
                                    </tr>
                                </ng-container>
                                <tr class="data_rows">
                                        <td><b>Team</b></td>
                                        <td><b>{{row.home_pass_comp}}</b></td>
                                        <td><b>{{row.home_pass_yards}}</b></td>
                                        <td><b>{{row.home_pass_td}}</b></td>
                                    </tr>
                            </table>
                        </td>
                        <td>
                            <table class="inner-table">
                                <thead>{{row.away_team}} Receiving</thead>
                                <tr>
                                    <td>Name</td>
                                    <td>rec</td>
                                    <td>yrds</td>
                                    <td>tds</td> 
                                </tr>
                                <ng-container *ngFor="let player of gameData[i].gameLeaders.away_team.receiving">
                                    <tr class="data_rows">
                                        <td>{{player.first_name}} {{player.last_name}} -- {{player.position}}</td>
                                        <td class="data_cell">{{player.rec}}</td>
                                        <td class="data_cell">{{player.rec_yards}}</td>
                                        <td class="data_cell">{{player.rec_td}}</td>
                                    </tr>
                                </ng-container>
                                <tr class="data_rows">
                                    <td><b>Team</b></td>   
                                    <td><b>{{row.away_pass_comp}}}</b></td>
                                    <td><b>{{row.away_pass_yards}}</b></td>
                                    <td><b>{{row.away_pass_td}}</b></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr class="home_team_data">
                        <td>
                            <table class= "inner-table">
                                <thead>{{row.home_team}} Rushing</thead>
                                <tr>
                                    <td>name</td>
                                    <td>att</td>
                                    <td>yrds</td>
                                    <td>tds</td> 
                                </tr>
                                <ng-container *ngFor="let player of gameData[i].gameLeaders.home_team.rushing">
                                    <tr class="data_rows">
                                        <td>{{player.first_name}} {{player.last_name}} -- {{player.position}}</td>
                                        <td class="data_cell">{{player.rush_att}}</td>
                                        <td class="data_cell">{{player.rush_yard}}</td>
                                        <td class="data_cell">{{player.rush_td}}</td>
                                    </tr>
                                </ng-container>
                                <tr class="data_rows">
                                    <td><b>Team</b></td>   
                                    <td><b>{{row.home_rush}}</b></td>
                                    <td><b>{{row.home_rush_yards}}</b></td>
                                    <td><b>{{row.home_rush_td}}</b></td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table class="inner-table">
                                <thead>{{row.away_team}} Rushing</thead>
                                <tr>
                                    <td>name</td>
                                    <td>att</td>
                                    <td>yrds</td>
                                    <td>tds</td> 
                                </tr>
                                <ng-container *ngFor="let player of gameData[i].gameLeaders.away_team.rushing">
                                    <tr class="data_rows">
                                        <td>{{player.first_name}} {{player.last_name}} -- {{player.position}}</td>
                                        <td class="data_cell">{{player.rush_att}}</td>
                                        <td class="data_cell">{{player.rush_yard}}</td>
                                        <td class="data_cell">{{player.rush_td}}</td>
                                    </tr>
                                </ng-container>
                                <tr class="data_rows">
                                    <td><b>Team</b></td>   
                                    <td><b>{{row.away_rush}}</b></td>
                                    <td><b>{{row.away_rush_yards}}</b></td>
                                    <td><b>{{row.away_rush_td}}</b></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr class="home_team_data">
                        <td>
                            <table class="inner-table">
                                <thead>{{row.home_team}} Defense</thead>
                                <tr>
                                    <td>name</td>
                                    <td>tcle</td>
                                    <td>tcle ass</td>
                                    <td>tfl</td>
                                    <td>sck</td>
                                    <td>scky</td>
                                    <td>qbh</td>
                                    <td>pbkn</td>
                                </tr>
                                <ng-container *ngFor="let player of gameData[i].gameLeaders.home_team.defense">
                                    <tr class="data_rows">
                                        <td>{{player.first_name}} {{player.last_name}} -- {{player.position}}</td>
                                        <td>{{player.tackle_solo}}</td>
                                        <td>{{player.tackle_assist}}</td>
                                        <td>{{player.tackle_forloss}}</td>
                                        <td>{{player.sack}}</td>
                                        <td>{{player.sack_yard}}</td>
                                        <td>{{player.qb_hurry}}</td>
                                        <td>{{player.pass_borken}}</td>
                                    </tr>
                                </ng-container>
                            </table>
                        </td>
                        <td>
                            <table class="inner-table">
                                <thead>{{row.away_team}} Defense</thead>
                                <tr>
                                    <td>name</td>
                                    <td>tcle</td>
                                    <td>tcle ass</td>
                                    <td>tfl</td>
                                    <td>sck</td>
                                    <td>scky</td>
                                    <td>qbh</td>
                                    <td>pbkn</td>
                                </tr>
                                <ng-container *ngFor="let player of gameData[i].gameLeaders.away_team.defense">
                                    <tr class="data_rows">
                                        <td>{{player.first_name}} {{player.last_name}} -- {{player.position}}</td>
                                        <td>{{player.tackle_solo}}</td>
                                        <td>{{player.tackle_assist}}</td>
                                        <td>{{player.tackle_forloss}}</td>
                                        <td>{{player.sack}}</td>
                                        <td>{{player.sack_yard}}</td>
                                        <td>{{player.qb_hurry}}</td>
                                        <td>{{player.pass_borken}}</td>
                                    </tr>
                                </ng-container>
                            </table>
                        </td>
                    </tr>
                </ng-container>

            </ng-container>
        </table>
    </div> -->
